:root {
	--bg-clr: #f9f6ff;
	--txt-clr: #235;
	--txt-drk: #001;
	--txt-mtd-lt: #2351;
	--txt-mtd: #2353;
	--txt-mtd-drk: #2359;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	font-family: "Merriweather", serif;
	background: var(--bg-clr);
	color: var(--txt-clr);
}

article {
	position: absolute;
	inset: 0;
	display: grid;
	place-content: center;
	z-index: -1;
}

svg {
	fill: currentColor;
	width: 100%;
	max-width: 1rem;
}

.hidden {
	display: none;
}

h1,
input {
	font-size: clamp(2rem, 7vw, 7rem);
	margin: 1em;
}

input {
	font-family: inherit;
	width: max-content;
	border: 0.125rem solid var(--txt-mtd-drk);
	background: var(--bg-clr);
	color: var(--txt);
}

input:hover {
	background: var(--txt-mtd-lt);
}

input:focus {
	border: 0.125rem solid var(--txt-clr);
}

#edit {
	float: right;
	border: 0;
	border-radius: 0.5em;
	background: none;
	color: inherit;
	padding: 1em;
	margin: 0;
}

#edit:hover {
	background: var(--txt-mtd);
	color: var(--txt-drk);
}

#edit:focus {
	outline: 0.25em solid currentColor;
}

#edit:active {
	background: var(--txt-mtd-drk);
}

